/* GroupPage.css */

body {
  font-weight: 300;
  font-family: 'Poppins', sans-serif;;
  background-color: black; /* Set background color of the entire body to black */
  color: white; /* Set font color to white */
}

h1 {
  text-align: center;
}
h2 {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex: 1 0 300px; /* Adjust as needed */
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  color: black; /* Set font color to white */
 
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-top: 0;
  font-size: 24px;
}

.card h3::before {
  margin-right: 10px;
  content: attr(data-emoji);
}
/* GroupPage.css */
/* Define classes for different card colors */
.swimming {
  background-color: #ffb3ba; /* Light red */
}

.running {
  background-color: #baffc9; /* Light green */
}

.cycling {
  background-color: #bae1ff; /* Light blue */
}

.weightlifting {
  background-color: #ffd1ba; /* Light orange */
}

.football {
  background-color: #ffc7ba; /* Light pink */
}

.tennis {
  background-color: #fff3ba; /* Light yellow */
}

.create-button {
  position: relative; /* Position relative for absolute positioning of nested button */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: transparent; /* Transparent background */
  border: 2px solid white; /* White border */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 8px;
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s ease; /* Smooth hover animation */
  margin-top: 40px;
  width: 100%;
 
  
}

.create-button:hover {
  background-color: white; /* Change background color on hover */
  color: black;
}
/* Modal Container */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 400px; /* Set the width of the modal */
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Change the opacity to make it less transparent */
  z-index: 1000; /* Ensure the overlay appears above other content */
}

/* Modal Title */
.modal-title {
  font-size: 1.5rem;
  margin-bottom: 20px;

}
label {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

/* Modal Content */
.modal-content {
  margin-bottom: 20px;
}

/* Exit Button */
.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: red;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

/* Exit Button Hover */
.modal-close-button:hover {
  background-color: darkred;
}

/* Form Group */
.form-group {
  margin-bottom: 40px;
  
}

/* Input Field */
input[type="text"],
select {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Notification Frequency Dropdown */
select {
  font-family: Arial, sans-serif;
  border-radius: 15px;
  margin-left: 10px;
  padding-left: 10px;
  width: 50%;
}

.continue-button-container {
  position: absolute;
  bottom: 10px; /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  width: 100%; /* Ensure the container takes the full width of the button */
  text-align: center; /* Center the button horizontally */
}

.continue-button {
  font-family: 'Poppins', sans-serif;
  background-color: blue;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.continue-button:hover {
  background-color: darkblue; /* Example hover color */
}















